In [1]:
import pandas as pd

In [6]:
!pip install requests

Requirement already satisfied: requests in /home/codespace/.local/lib/python3.12/site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/codespace/.local/lib/python3.12/site-packages (from requests) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /home/codespace/.local/lib/python3.12/site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/codespace/.local/lib/python3.12/site-packages (from requests) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /home/codespace/.local/lib/python3.12/site-packages (from requests) (2024.8.30)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python3 -m pip install --upgrade pip

In [8]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /home/codespace/.local/lib/python3.12/site-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /home/codespace/.local/lib/python3.12/site-packages (from beautifulsoup4) (2.6)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python3 -m pip install --upgrade pip

In [11]:
import numpy as np

In [12]:
In [3]: s=pd.Series([1,3,5,np.nan,6,8])

In [18]:
In[4]:s

In [22]:
Out[4]:s

In [23]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [25]:
dates=pd.date_range("20130101",periods=6)

In [26]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [27]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

In [28]:
df

                   A         B         C         D
2013-01-01  3.073805  1.030242 -1.161682 -1.893782
2013-01-02  0.107430 -0.166672 -0.155250 -0.527481
2013-01-03  1.689640  0.059576 -0.163897  0.767933
2013-01-04 -0.290963  1.137345 -0.385969 -0.589520
2013-01-05  0.208939 -0.721640  0.820399 -0.536338
2013-01-06  2.187781 -0.312326  1.635361  1.338508

In [29]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

In [30]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [31]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [33]:
df.head()

                   A         B         C         D
2013-01-01  3.073805  1.030242 -1.161682 -1.893782
2013-01-02  0.107430 -0.166672 -0.155250 -0.527481
2013-01-03  1.689640  0.059576 -0.163897  0.767933
2013-01-04 -0.290963  1.137345 -0.385969 -0.589520
2013-01-05  0.208939 -0.721640  0.820399 -0.536338

In [34]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.290963  1.137345 -0.385969 -0.589520
2013-01-05  0.208939 -0.721640  0.820399 -0.536338
2013-01-06  2.187781 -0.312326  1.635361  1.338508